@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nixie One';
}
body {
	background-color: #302e2e;
	background-size: 50px;
	color: #fafafa;
	font-family: 'Nixie One';
	overflow-x: hidden;
}
.main-header {
	height: 100vh;
	margin-bottom: 100px;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: 110px;
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}
.name {
	font-size: 70px;
	position: absolute;
	width: max-content;
	bottom: 2vh;
	line-height: .9;
}
.gallery {
	flex: 1;
	display: flex;
	padding: 40px 0;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
.gallery__item {
	max-width: 400px;
	margin-bottom: 40px;
	max-height: 180vh;
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}
.gallery__item:hover{
	transform: scale(1.2) !important;
}
.text-block {
	color: white;
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	max-width: 600px;
	margin-bottom: 40px;
	max-height: 180vh;
	border-radius: 8px;
}
.text-block__h {
	font-size: 50px;
	line-height: 40px;
	color: white;
	margin-bottom: 30px;
}
.text-block__p {
	line-height: 1.75;
}